@media (min-width: 992px) {
	.header {
		justify-content: end;
		.header-character {
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 8px 8px 24px 0px $second-color;
			
		}
		.header-text {
			margin-right: 30em;
		}
		&__bgc {
			background-image: url("../img/header-big.png");
		}
	}
}
