@media (min-width: 992px) {
	.header {
		justify-content: end;
		.header-character {
			display: flex;
            justify-content: center;
            align-items: center;
            
		}
		.header-text {
			margin-right: 30em;
		}
		&__bgc {
			background-image: url("../img/header-big.png");
		}
	}
}
