@media (min-width: 992px) {
	.header {
		justify-content: end;
		.header-character {
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 8px 8px 24px 0px $second-color;
		}
		.header-text {
			margin-right: 30em;
		}
		&__bgc {
			background-image: url("../img/header-big.png");
		}
	}
	//news
	.news {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 95vh;
		
		.news__text{
			text-align: left;
		}
		.wrapper {
			max-width: 1000px;
		}
		&__box-item {
			flex-direction: row;
			padding: 0;
		}
		&__img {
			margin-right: 2em;
		}
		.second {
			order: 2;
			margin-left: 1em;
		}
	}
}
