@import "./colors";
@import "./components";

*,
*::before,
*::afte {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	position: relative;
	font-family: "Rubik", sans-serif;
}

//navbar
.navbar {
	z-index: 10;
	.nav-bar {
		text-transform: uppercase;
		color: white;
		font-size: 1.6rem;
		transition: color 0.3s;
		&:hover {
			color: $second-color;
		}
	}
	.navbar-brand {
		font-size: 2rem;
		color: $main-color;
		font-weight: bold;
	}
	.nav-link {
		transition: color 0.3s;
		&:hover {
			color: $second-color;
		}
	}
	.nav-item {
		margin: 0 1em;
	}
	.dropdown-menu {
		width: 220px;
		font-size: 1.2rem;
		background: none;
		outline: none;
		.dropdown-item {
			color: $main-color;
			text-transform: uppercase;
			&:hover {
				background: none;
				color: $second-color;
			}
			&:focus {
				background: none;
				color: $second-color;
			}
		}
	}
}

.shadow-bg {
	transition: background-color 0.3s;
	background-color: rgba(0, 0, 0, 0.9);
}
//header
.header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	height: 100vh;
	width: 100%;
	.header-character {
		position: relative;
		height: 600px;
		width: 600px;
		background: rgb(47, 130, 69);
		background: radial-gradient(
			circle,
			rgba(47, 130, 69, 1) 32%,
			rgba(95, 207, 125, 1) 100%
		);
		border-radius: 50%;
		margin-top: 5em;
		margin-right: 25em;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-position: center;
		}
	}
	.header-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 30em;
	}
	&__title {
		text-transform: uppercase;
		color: $main-color;
		margin: 0;
		font-weight: bold;
		font-size: 5rem;
	}
	&__under-text {
		margin-bottom: 0.5em;
		color: white;
		font-size: 2rem;
	}
	&__button {
		display: flex;
		color: $main-color;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 60px;
		background: none;
		border: 2px solid $main-color;
		border-radius: 8px;
		padding: 2em;
		font-size: 1.3rem;
		font-weight: 600;
		text-transform: uppercase;
		transition: background-color 0.3s ease, color 0.3s ease;

		&:hover {
			color: black;
			background-color: $main-color;
		}
		&:focus {
			color: black;
			background-color: $main-color;
		}
	}
	&__bgc {
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		z-index: -3;
		background-image: url(../img/header-mini.png);
		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -3;
			background-color: rgba(0, 0, 0, 0.9);
		}
	}
}
//Sections
.news {
	height: 80vh;

	&__box-item {
		img {
			height: 200px;
			width: 200px;
			object-fit: cover;
			outline: 2px solid black;
			border-radius: 50%;
		}
	}
}
//Section ostatnie anime

@import "./small";
@import "./medium";
@import "./high";
